<!Doctype html>
<html>
	<head>
	{% include 'block1.html' %}
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
		{% include 'block2.html' %}
			<div class="usa">
				<span>Alabama</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/SouthEast/Alabama.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="33, 9, 211, 9, 238, 180, 21, 178" href="/alabamaR1">
				  <area shape="poly" coords="21, 175, 238, 180, 256, 370, 72, 378, 79, 432, 12, 436" href="/alabamaR2">
				</map>
			</div>
		{% include 'block3.html' %}
	</div>
	</body>
</html>