<!Doctype html>
<html>
	<head>
	{% include 'block1.html' %}
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
		{% include 'block2.html' %}
			<div class="usa">
				<span>Arkansas</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/South central/Arkansas.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="64, 16, 495, 15, 426, 222, 81, 229" href="/arkansasR1">
				  <area shape="poly" coords="81, 229, 429, 228, 367, 438, 87, 442" href="/arkansasR2">
				</map>
			</div>
		{% include 'block3.html' %}
	</div>
	</body>
</html>