<!Doctype html>
<html>
	<head>
	{% include 'block1.html' %}
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
		{% include 'block2.html' %}
			<div class="usa">
				<span>Georgia</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/SouthEast/Georgia.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="7, 18, 192, 10, 289, 186, 36, 181" href="/georgiaR1">
				  <area shape="poly" coords="36, 181, 301, 190, 304, 403, 60, 406" href="/georgiaR2">
				</map>
			</div>
		{% include 'block3.html' %}
	</div>
	</body>
</html>