<div class="row header">
	<div class="col-md-8 internal-left">
		<div class="col-md-2">
			<img src="/static/images/logo.png" class="logo">
		</div>
		<div class="col-md-2 heading-container">
			<span class="label label-warning headings">Discover</span>
		</div>
		<div class="col-md-2 heading-container">
			<span class="label label-warning headings">What's Hot</span>
		</div>
		<div class="col-md-2 heading-container expansion">
			<span class="label label-warning headings">Expansion</span>
		</div>
	</div>
	<div class="col-md-4 internal-right">
		<div class="col-md-3 icons-container">
			<img src="/static/images/message.png" height="35px" width="35px">
		</div>
		<div class="col-md-3 icons-container">
			<img src="/static/images/bell.png" height="35px" width="35px">
		</div>
		<div class="col-md-3 icons-container">
			<img src="/static/images/coins.png" height="35px" width="35px">
		</div>
		<div class="col-md-3 icons-container">
			<img src="/static/images/message.png" height="35px" width="35px">
		</div>
	</div>
</div>
