<!Doctype html>
<html>
	<head>
	{% include 'block1.html' %}
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
		{% include 'block2.html' %}
			<div class="usa">
				<span>North Central America</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/northcentral_1.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="22, 22, 136, 28, 144, 102, 16, 96" alt="North Dakota" href="/north-dakota">
				  <area shape="poly" coords="136, 28, 258, 42, 240, 160, 148, 166" alt="Minnesota" href="/minnesota">
				  <area shape="poly" coords="16, 96, 146, 106, 148, 192, 14, 172" alt="South Dakota" href="/south-dakota">
				  <area shape="poly" coords="148, 168, 268, 162, 242, 240, 160, 240" alt="Iowa" href="/iowa">
				  <area shape="poly" coords="8, 166, 148, 186, 170, 250, 8, 250" alt="Nebraska" href="/nebraska">
				  <area shape="poly" coords="42, 254, 176, 254, 184, 324, 34, 324" alt="Kansas" href="/kansas">
				  <area shape="poly" coords="164, 240, 244, 240, 286, 348, 188, 340" alt="Missouri" href="/missouri">
				</map>
			</div>
		{% include 'block3.html' %}
	</div>
	</body>
</html>