<!Doctype html>
<html>
	<head>
	{% include 'block1.html' %}
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
		{% include 'block2.html' %}
			<div class="usa">
				<span>New york</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/Northeast/newyork.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="271, 49, 1, 264, 277, 268" href="/newyorkR1">
				  <area shape="poly" coords="270, 43, 409, 12, 420, 216, 276, 226" href="/newyorkR2">
				  <area shape="poly" coords="276, 226, 420, 222, 396, 352, 493, 354, 373, 391, 274, 267" href="/newyorkR3">
				</map>
			</div>
		{% include 'block3.html' %}
	</div>
	</body>
</html>