<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/header.css">

		<link rel="stylesheet" href="/static/css/expansion.css">

		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/js.cookie.js"></script>
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
			<div class="search">
				<form class="form-inline">
				  <div class="form-group">
				    <label class="sr-only" for="search-box">Search</label>
				    <div class="input-group">
				      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
				      <input type="text" class="form-control" id="search-box" placeholder="Zip, Area, State">
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="usa">
				<span>The United States Of America</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/northeast.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="553, 4, 603, 7, 645, 120, 517, 225, 499, 117" alt="Maine" href="/maine">
				  <area shape="poly" coords="489, 117, 447, 241, 514, 234" alt="New Hampshire" href="/newHampshire">
				  <area shape="poly" coords="417, 133, 426, 247, 448, 249, 483, 135" alt="Vermont" href="/vermont">
				  <area shape="poly" coords="424, 247, 516, 244,532, 304, 510, 301, 493, 280, 409, 279" alt="Massachusetts" href="/massachusetts">
				  <area shape="poly" coords="478, 285, 495, 285, 505, 309, 477, 313" alt="Rhode Island" href="/rhodeIsland">
				  <area shape="poly" coords="412, 285, 480, 285, 478, 321, 408, 334" alt="Connecticut" href="/connecticut">
				  <area shape="poly" coords="177, 265, 421, 129, 414, 330, 460, 345, 391, 355, 391, 330, 345, 286, 175, 279" alt="New York" href="/newYork">
  				  <area shape="poly" coords="166, 273, 351, 295, 339, 400, 139, 393" alt="Pennsylvania" href="/Pennsylvania">
				  <area shape="poly" coords="366, 319, 397, 340, 379, 429, 345, 426, 366, 381, 348, 340" alt="New Jersy" href="/newJersy">
				  <area shape="poly" coords="324, 402, 339, 403, 357, 463, 322, 465" alt="Delaware" href="/delaware">
				  <area shape="poly" coords="177, 394, 324, 402, 327, 468, 352, 468, 336, 490, 270, 463, 234, 403, 180, 424" alt="Maryland" href="/maryland">
				  <area shape="poly" coords="126, 399, 180, 397, 178, 424, 229, 402, 240, 427, 88, 519, 48, 459" alt="West Virginia" href="/westVirginia">
				  <area shape="poly" coords="3, 543, 72, 508, 145, 510, 231, 415, 279, 450, 264, 460, 318, 561" alt="Virginia" href="/virginia">

				</map>
			</div>
			<div class="col-md-3 trending">
				<div class="row">
					<img src="/static/images/fire.png" width="40px" height="40px" class="col-md-offset-3">
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row">bhavya1995</div>
						<div class="row"><img src="/static/images/self.jpg" width="32px" height="32px"></div>
					</div>
					<div class="col-md-2 likes"><img src="/static/images/heart.png" width="35px" height="35px"></div>
				</div>
			</div>
		</div>
	</body>
</html>