<!Doctype html>
<html>
	<head>
	{% include 'block1.html' %}
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
		{% include 'block2.html' %}
			<div class="usa">
				<span>North West America</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/nw5_1.jpg" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="46, 64, 96, 76, 96, 34, 300, 56, 300, 204, 200, 204, 146, 216, 96, 216, 80, 182, 52, 174" alt="Washington" href="/washington">
				  <area shape="poly" coords="60, 186, 88, 186, 108, 216, 304, 206, 294, 408, 22, 388" alt="Oregon" href="/oregon">
				  <area shape="poly" coords="300, 52, 334, 52, 334, 114, 392, 174, 384, 226, 406, 222, 446, 282, 504, 276, 518, 404, 294, 408" alt="Idaho" href="/idaho">
				  <area shape="poly" coords="332, 54, 730, 30, 760, 230, 508, 254, 446, 284" alt="Montana" href="/montana">
				  <area shape="poly" coords="510, 252, 757, 230, 785, 431, 520, 455" alt="Wyoming" href="/wyoming">
				</map>
			</div>
			{% include 'block3.html' %}
		</div>
	</body>
</html>