<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/header.css">

		<link rel="stylesheet" href="/static/css/expansion.css">

		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/js.cookie.js"></script>
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
			<div class="search">
				<form class="form-inline">
				  <div class="form-group">
				    <label class="sr-only" for="search-box">Search</label>
				    <div class="input-group">
				      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
				      <input type="text" class="form-control" id="search-box" placeholder="Zip, Area, State">
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="usa">
				<span>The United States Of America</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/nw5_1.jpg" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="46, 64, 96, 76, 96, 34, 300, 56, 300, 204, 200, 204, 146, 216, 96, 216, 80, 182, 52, 174" alt="Washington" href="/washington">
				  <area shape="poly" coords="60, 186, 88, 186, 108, 216, 304, 206, 294, 408, 22, 388" alt="Oregon" href="/oregon">
				  <area shape="poly" coords="300, 52, 334, 52, 334, 114, 392, 174, 384, 226, 406, 222, 446, 282, 504, 276, 518, 404, 294, 408" alt="Idaho" href="/idaho">
				  <area shape="poly" coords="332, 54, 730, 30, 760, 230, 508, 254, 446, 284" alt="Montana" href="/montana">
				  <area shape="poly" coords="510, 252, 757, 230, 785, 431, 520, 455" alt="Wyoming" href="/wyoming">
				</map>
			</div>
			<div class="col-md-3 trending">
				<div class="row">
					<img src="/static/images/fire.png" width="40px" height="40px" class="col-md-offset-3">
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row">bhavya1995</div>
						<div class="row"><img src="/static/images/self.jpg" width="32px" height="32px"></div>
					</div>
					<div class="col-md-2 likes"><img src="/static/images/heart.png" width="35px" height="35px"></div>
				</div>
			</div>
		</div>
	</body>
</html>