<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/header.css">

		<link rel="stylesheet" href="/static/css/expansion.css">

		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/js.cookie.js"></script>
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
			<div class="search">
				<form class="form-inline">
				  <div class="form-group">
				    <label class="sr-only" for="search-box">Search</label>
				    <div class="input-group">
				      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
				      <input type="text" class="form-control" id="search-box" placeholder="Zip, Area, State">
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="usa">
				<span>The United States Of America</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/southwest.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="70, 46, 194, 60, 178, 176, 336, 358, 330, 444, 248, 444, 146, 354, 56, 106" alt="Calfornia" href="/california">
				  <area shape="poly" coords="196, 62, 366, 74, 356, 310, 336, 352, 182, 170" alt="Nevada" href="/nevada">
				  <area shape="poly" coords="370, 76, 452, 70, 452, 114, 516, 114, 516, 276, 360, 272" alt="Utah" href="/utah">
				  <area shape="poly" coords="514, 116, 720, 104, 738, 260, 518, 270" alt="Colorado" href="/colorado">
				  <area shape="poly" coords="358, 274, 516, 276, 518, 500, 448, 502, 328, 450" alt="Arizona" href="/arizona">
				  <area shape="poly" coords="516, 274, 707, 265, 719, 466, 603, 471, 548, 484, 548, 500, 518, 500" alt="New Mexico" href="/new-mexico">
				</map>
			</div>
			<div class="col-md-3 trending">
				<div class="row">
					<img src="/static/images/fire.png" width="40px" height="40px" class="col-md-offset-3">
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row">bhavya1995</div>
						<div class="row"><img src="/static/images/self.jpg" width="32px" height="32px"></div>
					</div>
					<div class="col-md-2 likes"><img src="/static/images/heart.png" width="35px" height="35px"></div>
				</div>
			</div>
		</div>
	</body>
</html>