<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/header.css">

		<link rel="stylesheet" href="/static/css/expansion.css">

		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/js.cookie.js"></script>
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
			<div class="search">
				<form class="form-inline">
				  <div class="form-group">
				    <label class="sr-only" for="search-box">Search</label>
				    <div class="input-group">
				      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
				      <input type="text" class="form-control" id="search-box" placeholder="Zip, Area, State">
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="usa">
				<span>The United States Of America</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/southeast.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="133, 82, 236, 65, 246, 35, 203, 20" alt="Kentucky" href="/kentucky">
				  <area shape="poly" coords="133, 83, 257, 65, 218, 103, 122, 115" alt="Tennessee" href="/tennessee">
				  <area shape="poly" coords="258, 63, 363, 41, 332, 107, 287, 91, 215, 102" alt="North Carolina" href="/northCarolina">
				  <area shape="poly" coords="121, 118, 157, 115, 166, 210, 105, 202" alt="Mississippi" href="/mississippi">
				  <area shape="poly" coords="158, 111, 200, 107, 225, 191, 177, 200, 183, 211, 164, 209" alt="Alabama" href="/alabama">
				  <area shape="poly" coords="200, 107, 242, 102, 292, 152, 287, 182, 228, 197" alt="Georgia" href="/georgia">
				  <area shape="poly" coords="241, 102, 276, 91, 325, 107, 289, 153" alt="South Carolina" href="/southCarolina">
  				  <area shape="poly" coords="179, 197, 289, 187, 337, 286, 321, 298, 243, 205, 183, 209" alt="Florida" href="/florida">
				</map>
			</div>
			<div class="col-md-3 trending">
				<div class="row">
					<img src="/static/images/fire.png" width="40px" height="40px" class="col-md-offset-3">
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row">bhavya1995</div>
						<div class="row"><img src="/static/images/self.jpg" width="32px" height="32px"></div>
					</div>
					<div class="col-md-2 likes"><img src="/static/images/heart.png" width="35px" height="35px"></div>
				</div>
			</div>
		</div>
	</body>
</html>