<!Doctype html>
<html>
	<head>
	{% include 'block1.html' %}
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
		{% include 'block2.html' %}
			<div class="usa">
				<span>South Central America</span> 
			</div>
			<div class="image-map">
				<img src="/static/images/southcentral.png" usemap="#region">
				<map name="region">
				  <area shape="poly" coords="121, 30, 208, 32, 205, 103, 377, 138, 388, 275, 274, 406, 119, 265, 97, 297, 5, 180, 110, 188" alt="Texas" href="/texas">
				  <area shape="poly" coords="124, 11, 357, 17, 365, 136, 206, 101, 	207, 30, 126, 25" alt="Oklahoma" href="/oklahoma">
				  <area shape="poly" coords="360, 35, 503, 30, 462, 154, 379, 154" alt="Arkansas" href="/arkansas">
				  <area shape="poly" coords="380, 154, 464, 153, 456, 230, 510, 227, 518, 294, 387, 270" alt="Louisiana" href="/louisiana">
				</map>
			</div>
			{% include 'block3.html' %}
		</div>
	</body>
</html>