<!doctype html>
<html>
	<head>
		<script src="/static/js/modernizr.js?v=1.3.0"></script>
		<link rel="stylesheet" href="/static/css/site.css?v=1.3.0">
		<script src="/static/js/site.js?v=1.3.0"></script>
		<link rel="stylesheet" href="/static/css/upload.css">
		<script type="text/javascript" src="/static/js/upload.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/header.css">

		<link rel="stylesheet" href="/static/css/expansion.css">
		<link rel="stylesheet" href="/static/css/upload.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="row header-breaker"></div>
			<div class="row sub-container">
				<div class="row upload-song-text">Upload your song !</div>
				<form action="#" method="GET" class="form demo_form">
					<div class="upload" data-upload-options='{"action":"/upload-song-file"}'></div>
					<div class="filelists">
						<h5>Complete</h5>
						<ol class="filelist complete">
						</ol>
						<h5>Queued</h5>
						<ol class="filelist queue">
						</ol>
						<span class="cancel_all">Cancel All</span>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>