<!Doctype html>
<html>
	<head>
		<title>NextUp | A social media platform for music</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<link rel="stylesheet" href="/static/css/user-profile-page.css">
	    <link rel="stylesheet" type="text/css" href="/static/css/jTinder.css">

		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/js.cookie.js"></script>
		<script type="text/javascript" src="/static/js/user-profile-page.js"></script>
	</head>
	<body>
		<div class="row header">
			<div class="col-md-8">
				<div class="col-md-2">
					<img src="/static/images/logo.png" class="logo">
				</div>
				<div class="col-md-2 heading-container">
					<span class="label label-warning headings">Discover</span>
				</div>
				<div class="col-md-2 heading-container">
					<span class="label label-warning headings">What's Hot</span>
				</div>
				<div class="col-md-2 heading-container">
					<span class="label label-warning headings">Expansion</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-3 icons-container">
					<img src="/static/images/message.png" height="35px" width="35px">
				</div>
				<div class="col-md-3 icons-container">
					<img src="/static/images/bell.png" height="35px" width="35px">
				</div>
				<div class="col-md-3 icons-container">
					<img src="/static/images/coins.png" height="35px" width="35px">
				</div>
				<div class="col-md-3 icons-container">
					<img src="/static/images/message.png" height="35px" width="35px">
				</div>
			</div>
		</div>
		<div class="row container-2">
			<div class="row">
				<div class="col-md-3">
					<div class="row"><b>Genre</b></div>
					<img src="/static/images/list-icon.png" height="40px" width="40px">
				</div>
				<div class="col-md-6 song-and-artist">
					<div class="row song-name">{{topSong}}</div>
					<div class="row artist-name">{{topArtist}}</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="heart-like-container">
							<img src="/static/images/heart.png" height="100px" width="100px" class="like-image">
							<span class="badge like-badge">{{topLikes}}</span>
						</div>
					</div>
					<div class="row like-text">Likes</div>
				</div>
			</div>
<!-- 			<div class="row">
				<div class="music-carousal">
					<div>
						<img src="/static/images/cover1.jpg" class="song-covers cover1" height="200px" width="200px">
						<div></div>
					</div>
					<img src="/static/images/cover2.jpg" class="song-covers cover2" height="200px" width="200px">
					<img src="/static/images/cover3.jpg" class="song-covers cover3" height="200px" width="200px">
					<img src="/static/images/cover4.jpg" class="song-covers cover4" height="200px" width="200px">
					<img src="/static/images/cover5.jpg" class="song-covers cover5" height="200px" width="200px">
				</div>
			</div>
			<div></div> -->
			<div class="row">
	          	<div class="wrap">
					<div id="tinderslide">
		            	<ul class="tinder-container">
		            		<span>Oops! No more songs.</span>
		            		{% for s in songs %}
	        	        	<li class="pane1">
	        	        		<img src="/static/images/play.ico" class="play-icon">
			                    <div class="song-file"><audio><source src="{{s.songFile}}"></audio></div>
	        	        		<img src="/static/images/pause.png" class="pause-icon">
		                    	<div class="img song-cover" id="{{s.cover}}" style="background: url('{{s.cover}}') no-repeat scroll center center; background-size: cover;"></div>
		                    	<div class="song-name-artist-name-sub">{{s.songName}}##{{s.artistName}}##{{s.numberOfLikes}}</div>
			                    <div class="like"></div>
			                    <div class="dislike"></div>
		                	</li>
		                	{% endfor %}
<!-- 			                <li class="pane2">
	        	        		<img src="/static/images/play.ico" class="play-icon">
			                    <div class="img"></div>
			                    <div>San Francisco</div>
			                    <div class="like"></div>
			                    <div class="dislike"></div>
	                		</li>
			                <li class="pane3">
	        	        		<img src="/static/images/play.ico" class="play-icon">
			                    <div class="img"></div>
			                    <div>Chicago</div>
			                    <div class="like"></div>
			                    <div class="dislike"></div>
			                </li>
			                <li class="pane4">
	        	        		<img src="/static/images/play.ico" class="play-icon">
			                    <div class="img"></div>
			                    <div>New York</div>
			                    <div class="like"></div>
			                    <div class="dislike"></div>
			                </li>
			                <li class="pane5">
	        	        		<img src="/static/images/play.ico" class="play-icon">
			                    <div class="img"></div>
			                    <div>Beach</div>
			                    <div class="like"></div>
			                    <div class="dislike"></div>
			                </li> -->
            			</ul>
        			</div>
        		</div>
    		    <!-- jTinder trigger by buttons  -->
    			<div class="actions">
			        <a href="#" class="dislike"><i></i></a>
			        <a href="#" class="like"><i></i></a>
			    </div>

 			   <!-- jTinder status text  -->
    			<div id="status"></div>
			</div>
			<div class="row footer">

			</div>
		</div>
    <!-- jQuery lib -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="/static/js/jquery.transform2d.js"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="/static/js/jquery.jTinder.js"></script>
    <!-- jTinder initialization script -->
    <script type="text/javascript" src="/static/js/main.js"></script>

	</body>
</html>