<!Doctype html>
<html>
	<head>
		{% include 'block1.html' %}
		<link rel="stylesheet" href="/static/css/user-profile-page-new.css" />
		<script type="text/javascript" src="/static/js/user-profile-page-new.js"></script>
	</head>
	<body>
		{% include 	'header.html' %}
		<div class="row header-breaker"></div>
		<div class="row sub-container">
			<div><img src="/static/images/cover.jpg" height="250px" width="100%" class="cover-pic"></div>
			<div class="user-profile-picture"><img src="{{data.profilePicture}}" height="100px" width="100px"></div>
			{% if data.isFollowing %}
			<div class="follow-unfollow" id="f">
				<div class="follow-unfollow-tag">UnFollow</div>
				<div class=""><img src="/static/images/closed-chain.png" class="follow-unfollow-image"></div>
			</div>
			{% else %}
			<div class="follow-unfollow" id="nf">
				<div class="follow-unfollow-tag">Follow</div>
				<div class=""><img src="/static/images/open-chain.png" class="follow-unfollow-image"></div>
			</div>				
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<div class="row"><img src="/static/images/heart-icon.png" height="50px" width="50px"></div>
				<div class="row number">{{data.numberOfLikedSongs}}</div>
			</div>
			<div class="col-md-3">
				<div class="row"><img src="/static/images/followers-icon.png" height="50px" width="50px"></div>
				<div class="row number">{{data.numberOfFollowers}}</div>
			</div>
			<div class="col-md-3">
				<div class="row"><img src="/static/images/following-icon.png" height="50px" width="50px"></div>
				<div class="row number">{{data.numberOfFollowing}}</div>
			</div>
		</div>
		<div class="col-md-3 music-box">
			<div class="row">
				<div class="user-handle uh col-md-6">{{data.userHandle}}</div>
				{% if data.isArtist%}
				<div class="col-md-4"><img src="/static/images/mic.png" height="20px"></div>
				{% endif %}
			</div>
			<div class="row">
				<div class="row"><img src="/static/images/area.png" height="50px"></div>
				<div class="user-handle row">{{data.areaCode}}</div>
			</div>
		</div>
		<div class="col-md-9">
			{% for u in data.uploadedSongsArr %}
			<div class="music-box">
				<div class="row music-name">{{u.songName}} - {{u.artist.userHandle}}</div>
					<div class="row">
						<div class="col-md-3 music-cover">
							<img src="{{u.coverPic.url}}" width="200px" class="sub-music-cover">
							<img src="/static/images/play.ico" class="play-icon play">
							<img src="/static/images/pause.png" class="play-icon pause">
							<div class="song-file">{{u.songFile.url}}</div>
						</div>

						<div class="col-md-8">
							<img src="/static/images/stop.png" width="100%" height="200px" class="song-stopped">
							<img src="/static/images/music-playing.gif" width="100%" height="200px" class="song-played">
						</div>
					</div>
					<div class="row like-num">
						<div class="col-md-3 col-md-offset-3">
							<div class="row"><img src="/static/images/heart-icon.png" height="50px" width="50px"></div>
							<div class="row number">{{u.numberOfLikes}}</div>
						</div>
						<div class="col-md-3 col-md-offset-3">
							<div class="row"><button type="button" class="btn btn-lg cart" data-toggle="modal" data-target="#myModal"><img src="/static/images/cart.png" height="50px" width="50px"></button></div>
						<div class="hidden">
							<div class="song-id">{{u.id}}</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

			{% for l in data.likedSongsArr %}
			<div class="music-box">
			<div class="row music-name">{{l.song.songName}} - {{l.song.artist.userHandle}}</div>
			<div class="row">
				<div class="col-md-3"><img src="{{l.song.coverPic.url}}" width="200px"></div>
				<div class="col-md-8"><img src="/static/images/music-playing.gif" width="100%" height="200px"></div>
			</div>
			<div class="row like-num">
				<div class="col-md-3 col-md-offset-3">
					<div class="row"><img src="/static/images/heart-icon.png" height="50px" width="50px"></div>
					<div class="row number">{{l.song.numberOfLikes}}</div>
				</div>
			</div>
			</div>
			{% endfor %}
		</div>
    	<audio controls class="audio-right-nav">
    		<source src="" class="mp3-source">
    	</audio>

    	<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Purchase the song</h4>
		      </div>
		      <div class="modal-body">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
	</body>
</html>