.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.logo {
	height: 75px;
	width: 75px;
}

.heading-container {
	margin-top: 2%;
}

.headings {
	font-size: 20px;
}

.icons-container {
	margin-top: 3%;
}