body {
	overflow: auto !important;
}

.container-2 {
	background: #FFEAB3;
}

.sidebar-custom {
	padding-left: 0px;
}

.sidebar-custom-right {
	padding-right: 0px;
}

.song-and-artist {
	text-align: center;
}

.song-name {
	font-size: 40px;
}

.artist-name {
	font-size: 40px;
}

.like-image {
	position: absolute;
	top: 0;
	left: 0;
}

.like-text {
	text-align: center;
	font-size: 22px;
	position: absolute;
    top: 80px;
    left: 40px;
}

.heart-like-container {
	position: relative;
}

.like-badge {
	position: absolute;
	top: 40px;
    left: 32px;
    font-size: 18px;
    background: transparent;
    color: black;
}

.song-covers {
	position: absolute;
	top: 0;
	left: 0;
}

.music-carousal {
	position: relative;
    margin-left: 20%;
    margin-top: 14%;
}

.cover1 {
	-webkit-filter: blur(2px);
}
.cover2 {
	top: -20px;
    left: 140px;
    z-index: 100;
	-webkit-filter: blur(2px);
}

.cover3 {
	top: -60px;
    left: 300px;
    z-index: 200;	
    transition: visibility 0s 2s, opacity 2s linear;
}

.cover4 {
	top: -20px;
    left: 480px;
    z-index: 100;
	-webkit-filter: blur(2px);
}

.cover5 {
    left: 650px;
    z-index: 0;
	-webkit-filter: blur(2px);
}

.hidden {
	visibility: hidden;
    opacity: 0;
}

.song-name-artist-name-sub {
	visibility: hidden;
}

.play-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    top: 30px;
    left: 500px;
}

.pause-icon {
	display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    top: 30px;
    left: 500px;
}

.song-file {
	display: none;
}

.icon-row {
	padding: 10px;
}

.icon-text {
	padding-left: 10px;
}

.audio-right-nav {
	width: 100%;
}

.audio-parent {
	width: 100%;
}

.also-liked {
	width: 100%;
}

.also-liked a {
	text-align: center;
}

.sidebar-custom-right {
	display: none;
}

.sidebar-custom {
	display: none;
}